footer {
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1); /* Box shadow applied to the top */
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info {
    margin-bottom: 10px;
}

.footer-info p {
    margin: 0;
    font-size: 14px;
}

.footer-info a {
    color: #333;
    text-decoration: none;
}

.footer-info a:hover {
    color: #007bff;
}

.social-icons {
    display: flex;
}

.social-icon {
    margin: 0 5px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}
