<app-header />

<main>
  <section id="hero">
    <div data-aos="fade-right" class="hero-container">
      <h1>Welcome to TrekGear Planner</h1>
      <p>
        Your one-stop solution for planning and generating a list of trekking
        equipment for your next adventure.
      </p>
      <button href="/">Start Planning</button>
    </div>
  </section>

  <section id="features">
    <div
      data-aos="fade-right"
      class="features-container"
      style="margin-top: 80px"
    >
      <h2>Why Choose TrekGear Planner?</h2>
      <div class="feature-grid">
        <div data-aos="fade-right" class="feature-card">
          <img
            src="assets/backpack-svgrepo-com.svg"
            width="60px"
            height="60px"
            alt="Personalized Recommendations"
            class="feature-img"
          />
          <div>
            <h3>Comprehensive Equipment List</h3>
            <p>
              We provide a comprehensive list of trekking equipment, ensuring
              you don't miss out on any essentials.
            </p>
            <p>
              Our list includes items such as tents, sleeping bags, cooking
              gear, navigation tools, and more.
            </p>
          </div>
        </div>
        <div data-aos="fade-right" class="feature-card">
          <img
            src="assets/mountain-goal-svgrepo-com.svg"
            width="60px"
            height="60px"
            alt="Personalized Recommendations"
            class="feature-img"
          />
          <div>
            <h3>Personalized Recommendations</h3>
            <p>
              Our system generates equipment recommendations based on your trip
              details and preferences.
            </p>
            <p>
              Whether you're planning a weekend camping trip or a multi-day
              trek, we tailor our recommendations to suit your specific needs.
            </p>
          </div>
        </div>
        <div data-aos="fade-right" class="feature-card">
          <img
            src="assets/trekking-walker-svgrepo-com.svg"
            width="60px"
            height="60px"
            alt="Personalized Recommendations"
            class="feature-img"
          />
          <div>
            <h3>Expert Advice</h3>
            <p>
              Get expert advice on selecting the best trekking equipment for
              your needs.
            </p>
            <p>
              Our team of experienced hikers and outdoor enthusiasts is here to
              answer your questions and provide personalized guidance.
            </p>
          </div>
        </div>
        <!-- Additional Why Choose ideas -->
        <div data-aos="fade-right" class="feature-card">
          <img
            src="assets/map-svgrepo-com.svg"
            width="60px"
            height="60px"
            alt="Customized Itineraries"
            class="feature-img"
          />
          <div>
            <h3>Customized Itineraries</h3>
            <p>
              Create customized trekking itineraries tailored to your
              preferences, including route suggestions, camping spots, and
              sightseeing recommendations.
            </p>
          </div>
        </div>
        <div data-aos="fade-right" class="feature-card">
          <img
            src="assets/carabiner-svgrepo-com.svg"
            width="60px"
            height="60px"
            alt="Interactive Packing Lists"
            class="feature-img"
          />
          <div>
            <h3>Interactive Packing Lists</h3>
            <p>
              Access interactive packing lists that help you organize your gear
              efficiently and ensure you have everything you need for your trek.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-aos="fade-right" id="get-started">
    <div class="get-started-container" style="margin-top: 80px">
      <h2>Ready to Start Planning?</h2>
      <p>
        Click the button below to start generating your trekking equipment list.
      </p>
      <button href="/start">Start Planning</button>
    </div>
  </section>
</main>

<app-footer style="display: block; margin-top: 80px;" />