<app-header />
<label for="fname">First Name:</label><br>
<input type="text" id="fname" name="fname"><br>
<label for="lname">Last Name:</label><br>
<input type="text" id="lname" name="lname"><br>
<label for="email">Email:</label><br>
<input type="email" id="email" name="email"><br>
<label for="password">Password:</label><br>
<input type="password" id="password" name="password"><br>
<input type="submit" value="Submit">
<button type="submit" value="Submit">Test</button>
<button class="loading" type="submit" value="Submit">Test</button>
<input class="loading" type="submit" value="Submit">