$primary-yellow: rgba(255, 216, 77, 1);
$secondary-yellow: rgb(255, 234, 159);
$light-yellow: rgb(255, 239, 183);
$dark-yellow: rgb(237, 186, 0);
$accent-yellow: rgba(255, 216, 77, 1);
$neutral-light: #ECEFF1;
$neutral-dark: #263238;
$background-color: #ffffff;