<header class="header">
  <div class="container">
    <div class="logo" routerLink="/">
      <img src="assets/logo.svg" alt="Trekking Planner">
    </div>
    <nav class="nav">
      <ul>
        <ng-container *ngIf="isLogIn()">
          <ng-container *ngIf="getUser()">
            <li>{{ getUser()?.name }}</li>
          </ng-container>
        </ng-container>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>

        <ng-container *ngIf="!isLogIn()">
          <li (click)="logIn()"><a href="#">Login</a></li>
        </ng-container>
        <ng-container *ngIf="isLogIn()">
          <li (click)="logOut()"><a href="#">Logout</a></li>
        </ng-container>
      </ul>
    </nav>
  </div>
</header>
