@if(userTrekkingEquipment) {
<div class="container" [class._listView]="!!selectedPlan">
  @for(request of userTrekkingEquipment; track request) {
  <div
    (click)="click($index)"
    class="episode"
    data-aos="fade-right"
    [class._selected]="$index == selectedIndex"
  >
    <div class="episode__number">Plan {{ $index + 1 }}</div>
    <div class="episode__content">
      <div class="story">
        @if(request.userRequest.place) {
        <p>Place: {{ request.userRequest.place }}</p>
        } @if(request.userRequest.period) {
        <p>Period: {{ request.userRequest.period }}</p>
        } @if(request.userRequest.season) {
        <p>Season: {{ request.userRequest.season }}</p>
        } @if(request.userRequest.accommodation) {
        <p>Accommodation: {{ request.userRequest.accommodation }}</p>
        } @if(request.userRequest.food) {
        <p>Food: {{ request.userRequest.food }}</p>
        }
      </div>
    </div>
  </div>
  }
</div>
@if(selectedPlan) {
<div class="selectedPlan">
  <article
    class="equipment"
    data-aos="fade-left"
    *ngFor="let item of selectedPlan.equipment; let index = index"
  >
    <div class="titleBox" id="checklist">
      <input
        type="checkbox"
        [checked]="selectedPlan.equipment[index].check"
        [(ngModel)]="selectedPlan.equipment[index].check"
      />
      <label class="title" [class._checked]="selectedPlan.equipment[index].check">
        {{ item.name }}
      </label>
    </div>
    <div class="">
      <div class="story">
        @if(item.description) {
        <p *ngIf="item.description">{{ item.description }}</p>
        } @if(item.type) {
        <p *ngIf="item.type">Type: {{ item.type }}</p>
        } @if(item.size) {
        <p *ngIf="item.size">Size: {{ item.size }}</p>
        } @if(item.weight) {
        <p *ngIf="item.weight">Weight: {{ item.weight }}</p>
        } @if(item.brands) {
        <p *ngIf="item.brands">
          Suggested brands: {{ joinArray(item.brands) }}
        </p>
        } @if(item.features) {
        <div *ngIf="item.features">
          <p>Usefull features:</p>
          <ul style="margin: 0">
            @for(feature of item.features; track feature) {
            <li>{{ feature }}</li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </article>
</div>
} } @else {
<!-- loading -->
<div class="loadingResults">
  <svg class="bike" viewBox="0 0 48 30" width="48px" height="30px">
    <g
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1"
    >
      <g transform="translate(9.5,19)">
        <circle class="bike__tire" r="9" stroke-dasharray="56.549 56.549" />
        <g
          class="bike__spokes-spin"
          stroke-dasharray="31.416 31.416"
          stroke-dashoffset="-23.562"
        >
          <circle class="bike__spokes" r="5" />
          <circle class="bike__spokes" r="5" transform="rotate(180,0,0)" />
        </g>
      </g>
      <g transform="translate(24,19)">
        <g
          class="bike__pedals-spin"
          stroke-dasharray="25.133 25.133"
          stroke-dashoffset="-21.991"
          transform="rotate(67.5,0,0)"
        >
          <circle class="bike__pedals" r="4" />
          <circle class="bike__pedals" r="4" transform="rotate(180,0,0)" />
        </g>
      </g>
      <g transform="translate(38.5,19)">
        <circle class="bike__tire" r="9" stroke-dasharray="56.549 56.549" />
        <g
          class="bike__spokes-spin"
          stroke-dasharray="31.416 31.416"
          stroke-dashoffset="-23.562"
        >
          <circle class="bike__spokes" r="5" />
          <circle class="bike__spokes" r="5" transform="rotate(180,0,0)" />
        </g>
      </g>
      <polyline class="bike__seat" points="14 3,18 3" stroke-dasharray="5 5" />
      <polyline
        class="bike__body"
        points="16 3,24 19,9.5 19,18 8,34 7,24 19"
        stroke-dasharray="79 79"
      />
      <path
        class="bike__handlebars"
        d="m30,2h6s1,0,1,1-1,1-1,1"
        stroke-dasharray="10 10"
      />
      <polyline
        class="bike__front"
        points="32.5 2,38.5 19"
        stroke-dasharray="19 19"
      />
    </g>
  </svg>
</div>
}
