@import "./app/styles/colors.scss";
@import "./app/styles/typo.scss";
@import "./app/styles/inputs.scss";
@import "./app/styles/variables.scss";

$global-margin-mobile: 16px;
$global-margin-desktop: 42px;

// Define media queries for different devices
$mobile: 576px;
$desktop: 992px;

html {
  background-color: $background-color;
}

body {
  color: $neutral-dark;
  margin: 0;
  padding: 0;
  max-width: calc($max-width + $global-margin-desktop * 2);
  width: 100%;
  margin: auto;
  overflow-x: hidden;

  app-root {
    padding-top: calc($header-height + 20px);
    display: block;
    margin-left: $global-margin-mobile; // Default margin for mobile
    margin-right: $global-margin-mobile;


    @media (min-width: $desktop) {
      margin-left: $global-margin-desktop; // Margin for desktops
      margin-right: $global-margin-desktop; 
    }
  }
}
